# Ключ Django
SECRET_KEY='django_secret_key'

# Режим разработки
DEBUG=True

# Настройки базы данных
NAME=messsge_service
USER=postgres
PASSWORD=password_db
HOST=localhost
PORT=5432

# Настройки почтового клиента
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your_mail@yandex.ru
EMAIL_HOST_PASSWORD=your_passwird