<!--suppress ALL -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
    <div class="container">

        <a class="navbar-brand" href="{% url 'sending_messages:recipients_list' %}">
            MessageService
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- Левая часть -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name in menu_urls.main_page %}active{% endif %}"
                       href="{% url 'sending_messages:main_page' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name in menu_urls.recipients %}active{% endif %}"
                       href="{% url 'sending_messages:recipients_list' %}">Получатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name in menu_urls.mailings %}active{% endif %}"
                       href="{% url 'sending_messages:mailings_list' %}">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name in menu_urls.messages %}active{% endif %}"
                       href="{% url 'sending_messages:messages_list' %}">Сообщения</a>
                </li>
            </ul>

            <!-- Правая часть: кнопки -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item me-2">
                        <span class="navbar-text text-light">{{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="#">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="#">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
