{% extends 'base.html' %}
{% block content %}
<!-- Форма -->
<div class="card mb-4 border-0 shadow-sm">
    <div class="row g-0">
        <form method="post" enctype="multipart/form-data" class="p-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить рассылку</button>
            <!--suppress HtmlUnknownTarget -->
            <a class="" href="{% if object %}{% url 'sending_messages:mailing_detail' object.pk %}{% else %}{% url 'sending_messages:mailings_list' %}{% endif %}">
                Назад
            </a>
        </form>
    </div>
</div>

<!-- Подключение Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Инициализация Flatpickr -->

<script>
document.addEventListener('DOMContentLoaded', function () {

    /* функция прибавляет указанное количество минут */
    function utcPlusMinutes(minutes) {
        const date = new Date();
        date.setUTCMinutes(date.getUTCMinutes() + minutes);
        return date
            .toISOString()
            .slice(0, 16)
            .replace('T', ' ');
    }

    flatpickr("input[name='start_time']", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        allowInput: true,
        utc: true,
        defaultDate: utcPlusMinutes(1)
    });

    flatpickr("input[name='end_time']", {
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        time_24hr: true,
        allowInput: true,
        utc: true,
        defaultDate: utcPlusMinutes(30)
    });
});
</script>

{% endblock %}