{% extends 'sending_messages/base.html' %}
{% block content %}
<!-- Форма -->
<div class="card mb-4 border-0 shadow-sm">
    <div class="row g-0">
        <form method="post" enctype="multipart/form-data" class="p-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Сохранить получателя рассылки</button>
            <!--suppress HtmlUnknownTarget -->
            <a class="" href="{% if object %}{% url 'sending_messages:recipient_detail' object.pk %}{% else %}{% url 'sending_messages:recipients_list' %}{% endif %}">
                Назад
            </a>
        </form>
    </div>
</div>
{% endblock %}