{% extends 'base.html' %}
{% block content %}
{% load tz %}

<!--suppress ALL -->
<h2>Подробности рассылки</h2>
<p>Название рассылки: {{ mailing.name }}</p>
<p>Начало рассылки: {{ mailing.start_time|localtime|date:"d.m.Y H:i" }}</p>
<p>Конец рассылки: {{ mailing.end_time|localtime|date:"d.m.Y H:i" }}</p>
<p>Сообщение: {{ mailing.message }}</p>
<p>Статус рассылки: {{ mailing.get_status_display }}</p>
<p>Получатели рассылки:</p>
<ul>
{% for recipient in mailing.recipients.all %}
    <li>{{ recipient.full_name }} ({{ recipient.email }})</li>
{% empty %}
    <li>Нет получателей</li>
{% endfor %}
</ul>
<form method="post" action="{% url 'sending_messages:mailing_send' mailing.pk %}">
    {% csrf_token %}
    <button class="btn btn-success">Отправить</button>
</form>
<a href="{% url 'sending_messages:mailing_update' mailing.pk %}">Редактировать рассылку</a>
<a href="{% url 'sending_messages:mailing_delete' mailing.pk %}">Удалить рассылку</a>

{% endblock %}