{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сервис рассылок{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Виджет для вставки времени и даты в поле ввода-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>

{% include 'includes/inc_menu.html' %}

<div class="container" style="padding-top: 80px;">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
